obj
bin
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.dotcover
*.cache
* Thumbs.db
!*.csproj.ReSharper
Release
Packages
Build
Debug
*.vssscc
*.vspscc
*.vsmdi
*.testsettings
*.bak
*.cache
*.log
*.swp
*.user
_compareTemp
_notes
aspnet_client
httpd.parse.errors
*.tmp
~$*
deploy
deploy/*
ndependout
*.ndproj
NDependOut
*.vsp
*mm_cache.bin
